*,
*::before,
*::after {
    box-sizing: border-box;
  }

  /* DESIGN */

:root{
    --ff-primary: 'Roboto Slab', sarif;
    --ff-secondary: 'Montserrat', sarif;

    --fw-reg:  300;
    --fx-bold: 900;

    --clr-light:  #CBB5A4;   /*khaki*/           
    --clr-dark:   #42464C;   /*charcoal*/
    --clr-accent: #E5E1DC;   /*platinium*/
    --clr-base:   #FEEEEB;   /*lavenderblush*/
    --clr-brown:  #684E3B;   /*coffee*/

    --fs-h1:   68px;
    --fs-h2:   44px;
    --fs-h3:   19px;
    --fs-body: 18px;

}

@media (min-width: 800px) {
  :root{
    --fs-h1:   68px;
    --fs-h2:   44px;
    --fs-h3:   19px;
    --fs-body: 18px;
  }
}

/* styles */

body {

  background: var(--clr-base);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  text-align: center;

}

section{
    padding: 0px;
}

.img {
  display: block;
  max-width: 100%;
}


/* Typografi */

h1,
h2,
h3{
  line-height: 55px;
  margin: 50px;
  padding: 10px;

}


h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title{
    margin-bottom: 4px;
    margin-top: 27px;
}

.section__title--intro {
  font-weight: var(--fw-reg);
  font-size: var(--fs-h2);
}

.section__title--intro strong {
  display: block;   /* "bold tekst får sin egen linje" */
}

.section__subtitle{
    margin: 0px;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
  background: var(--crl-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 16px;

}
.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2px;
}

/* header */

.header{
position: relative;
}

.logo{
  display: flex;
  margin-right: auto;
  margin-left: 8px;
  margin-top: -20px;
  float: left;
  position: absolute;
}

.nav{
  position: fixed;
  color: var(--clr-brown);
  position: relative;
  margin: 12px auto;
  margin-top: 27px;
  width: 650px;
  height: 30px;
  background-color: var(--clr-base);
  border-radius: 10px;
}

.nav__list{
  list-style: none;
  display: flex;
  height: auto;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link{
  color: inherit;
  font-weight: bold;
  font-weight: 100;
}

.nav__link:hover{
  color: var(--clr-light);
}

nav a{
  font-size: 15px;
  text-transform: uppercase;
  color: var(--clr-base);
  text-decoration: none;
  line-height: 60px;
  position: relative;
  z-index: 1;
  display:inline-block;
  text-align:center;
}

nav.animation{
    position: absolute;
    height: 100%;
    top: 0px;
    background: var(--clr-base);
    width:100%;
    border-radius: 1px;
  }

.nav__c2a{
  color: var(--clr-brown);
  border-radius: 30px;
  border-style: solid;
  border-top: 3px;
  border-bottom: 3px;
}

/* Intro section */
.intro{
  position: relative;
  font-size: var(--fs-h3);
}

.intro__img{
    grid-area: img;
    min-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 340px;
}


/* Mine projekter */

.mine-projekter {
  color: var(--clr-light);
  text-align: center;
}

.portfolio{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
}

.portfolio__item{
  background: var(--clr-accent);
}

.portfolio__img{
  transition: transform 550ms;
  width: 275px;
  height: 275px;
}


/* Individuelle projekter */
.projekt-txt{

  text-align: justify;
  margin-left: 150px;
  margin-right: 50px;

}

.projektbox{
  display: flex;

}

/* Selvportræt */
.selvportraet{
  margin-left: 10px;
  margin-top: 10px;
  clear: both;
}

.portraet__img{
  height: 400px;
  width: 310px;
}

/* Animation */
.sprite{
  width: 493px;
  height: 493px;
  background: url(img/css.animation.png);
  animation: play 10s steps(22) infinite;
}

#animation{
  margin-left: 10px;
  margin-top: 10px;
  clear: both;
}

@keyframes play {
  0% {background-position: 0px;}
  100% {background-position: -11000px;}
}

/* Luftballon */

.luftballon{
  margin-left: 10px;
  margin-top: 10px;
  clear: both;
}

/* Puppy love app */

.puppyloveapp{
  margin-left: 10px;
  margin-top: 10px;
  clear: both;
}

/* Naturama "den flydende tidsrejse" */

.naturama{
  margin-left: 10px;
  margin-top: 10px;
  clear: both;
}

/* 3D Plakat sketchup */
.sketchup-plakat{
  margin-left: 10px;
  margin-top: 10px;
  clear: both;

}
/*om mig*/

.om-mig__body{
  margin-left: 100px;
  margin-right: 350px;
  text-align: justify;
  text-justify: inter-word;
}



.om-mig__img{
  float: right;
  width:310px;
  height:375px;
  margin-left: 30px;
  margin-right: 100px;
  margin-bottom: 400px;
}

/*kontakt*/

.kontakt{
  margin-left: 100px;
  margin-right: 270px;
  text-align: left;
  text-justify: inter-word;

}

.kontakt__img{
  grid-area: img;
  display: block;
  float: left;
  width: 330px;
  height: 400px;
  margin-left: 270px;
  margin-right: 40px;


}

/* footre */
.footer{
  background: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  position: relative;
  padding: 1px;
  justify-content: space-between;
  line-height: 0.10;
  font-size: 14px;
  left: 0px;
  bottom: 0px;
  width: 100%;

}

.footer__index{
  background: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  position: fixed;
  padding: 1px;
  justify-content: space-between;
  line-height: 0.10;
  font-size: 14px;
  left: 0px;
  bottom: 0px;
  width: 100%;

}

.footer a {
  color: inherit;

}
